body {
    font-family: 'Poppins', sans-serif;
    background-color: #e7eaee;
    display: grid;
    place-items: center;
}

h1 {
    color: #ffa600;
    text-shadow: 1px 1px 2px, 0 0 25px #FAB130, 0 0 5px; 
}

.titulo {
    font-size: 22px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-shadow: 2px 2px 5px #858585;
}

.paragrafo {
    font-size: 18px;
}

.imagem {
    border-radius: 8px;
    box-shadow: #64646f33 5px 7px;
}

.listinha {
    border-radius: 15px;
    background: #ffa600d5;
    padding: 30px;
    color: #000000;
    box-shadow: #64646f33 5px 7px;
    cursor: pointer;
}

