 h1 {
     color: #f3f3f3;
 }

 h3 {
     color: #d666f5;
 }

 h4 {
     color: #5f9ea0;
 }

 h5 {
     color: #f7926e;
 }

 h6 {
     color: #fdad00;
 }

 .ficaVerde {
     color: #99b174;
 } 

 html {
     background-color: #34283d;
 }